/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.fa {
    margin-right: 5px;
}

.education,
.experience,
.internships,
.projects {
    margin-bottom: 20px;
}

.education h2::before,
.experience h2::before,
.internships h2::before,
.projects h2::before {
    content: '\f0a7';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.skills h2::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.social-media h2::before {
    content: '\f0e1';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.fa-certificate::before {
    content: '\f0a7';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.fa-check::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.fa-briefcase::before {
    content: '\f0b1';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.fa-building::before {
    content: '\f1ad';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.fa-cubes::before {
    content: '\f1b3';
    font-family: 'FontAwesome';
    margin-right: 5px;
}
