/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    
}

main {
    max-width: 1724px;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.fa {
    margin-right: 5px;
}

.fa::before {
    font-family: 'FontAwesome';
}

.fa-envelope::before {
    content: '\f0e0';
}

.fa-linkedin::before {
    content: '\f0e1';
}

.fa-twitter::before {
    content: '\f099';
}

.fa-certificate::before {
    content: '\f0a7';
}

.fa-check::before {
    content: '\f00c';
}

.fa-briefcase::before {
    content: '\f0b1';
}

.fa-building::before {
    content: '\f1ad';
}

.fa-cubes::before {
    content: '\f1b3';
}

.social-media h2::before {
    content: '\f0e1';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.education h2::before,
.experience h2::before,
.internships h2::before,
.projects h2::before {
    content: '\f0a7';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.skills h2::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.education,
.experience,
.internships,
.projects {
    margin-bottom: 30px;
}

.education h3,
.experience h3,
.internships h3,
.projects h3 {
    color: #007bff;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skills li:last-child {
    margin-right: 0;
}

